<aside>
    <section>
        <h3>Aktuelle Meldungen</h3>
        <ul>
            <li>
                22.05.2025: Die Vorlesung zu "Web-Technologien" findet am
                kommenden Mittwoch abweichend in der Westfalenhalle 1 statt.
            </li>
            <li>
                16.04.2025: Die Veranstaltung "Linear Algebra" muss in dieser
                Woche leider krankheitsbedingt entfallen.
            </li>
        </ul>
    </section>
</aside>